.page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;

    &__title {
        font-size: 1.56rem;
        font-family: Rawline Semibold;
        color: #646464;
        line-height: 29px;
        font-weight: 600;
        text-transform: capitalize;
    }

    &__paragraph {
     max-width: 18.75rem;   
    }
}
